/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #DB00FF;
    --color-surface: #FF0070;
    --color-second: #000028;
    --color-accent: #F1B2CE;
    --color-band: #FF0070;
    --color-shadow: #FF0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --color-outline: rgba(255, 0, 112, 0.4);
    --color-title: #FF0070;
  }

  h3 {
    color: var(--color-title);
  }

  .record {
    visibility: visible;
  }
}