/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-primary: #DB00FF;
  --color-surface: #FF0070;
  --color-second: #000028;
  --color-accent: #F1B2CE;
  --color-band: #FF0070;
  --color-shadow: #FF0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #DB00FF;
    --color-surface: #FF0070;
    --color-second: #000028;
    --color-accent: #F1B2CE;
    --color-band: #FF0070;
    --color-shadow: #FF0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
  }

  h3 {
    color: #FF0070;
  }

  .record {
    visibility: visible;
  }
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark h3 {
  color: #FF0070 !important;
}

.theme-dark .record {
  visibility: visible;
}