/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color-light: #FF8DCB;
  --accent-color: #FFC2E6;
  --text-color-light: #353430;
  --main-font-size: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-color-light: #FF8DCB;
  --accent-color: #FFC2E6;
  --text-color-light: #353430;
  --main-font-size: 18px;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-light.png);
}


.theme-light .box__rec {
  border-color: var(--text-color-light);
}

.theme-light .box {
 border-color: var(--text-color-light);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color-light);
  font-size: var(--main-font-size);
  line-height: var(--main-font-size);
}

.theme-light .header__theme-menu-button_type_light {
  outline: 1px solid var(--text-color-light);
  padding-left: 13px;
  padding: 0 12px 5px;
  margin-top: 4px;
}

.theme-light .header__theme-menu-button_type_dark:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4)
}

.theme-light .header__theme-menu-button_type_dark:focus-visible {
  border-bottom: 1px solid var(--text-color-light);
}

.theme-light h1 {
  color: #FFC2E6;
  text-shadow: 4px 4px 0px var(--main-color-light);
}

.theme-light .title-decor {
  color: var(--text-color-light);
  background: var(--main-color-light);
}

.theme-light .record {
  visibility: hidden;
}

.theme-light h3 {
  color: var(--text-color-light);
} 

.theme-light article {
  font-size: var(--main-font-size);
  color: var(--text-color-light);
}

.theme-light h5 {
  color: var(--text-color-light);
  background: var(--main-color-light);
  font-size: var(--main-font-size);
}

.theme-light a {
  color: var(--text-color-light);
  text-shadow: 1px 1px 0px var(--main-color-light);
}

.theme-light a:hover {
  border-bottom: 1px solid var(--text-color-light);
}

.theme-light a:focus {
  outline: 1px solid var(--text-color-light);
}

.theme-light .footer__title {
  color: #FFC2E6;
  text-shadow: 1px 1px 0px var(--main-color-light);
  background: none;
}

@media (width>=1024px) {

.theme-light .header__theme-menu-button_type_light {
  padding: 1px 12px 5px 12px;
  margin-left: 13px;
  }
}