/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

.header {
  min-height: 668px;
  height: 100vh;
}

.decorated-zone {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.rec__container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 25px;
}

.header__theme-menu {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
}

.header__theme-menu-list {
  display: grid;
  gap: 5px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.header__theme-menu-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 7px 5px 0px;
}

.header__theme-menu-button {
  padding: 4px 12px;
  line-height: var(--font-size);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: var(--color-band);
}

.header__title {
  margin: 59px 0 54px 11px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.record {
  visibility: visible;
  justify-content: end;
  padding-right: 19px;
  color: var(--color-band);
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  display: inline;
  margin-right: -35px;
}

.record:after {
  content: "";
  display: inline-block;
  box-shadow: 0px 0px 4px 2px var(--color-band);
  border-radius: 50%;
  background: var(--color-band);
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 9px;
}

.decor__corner-right {
  box-sizing: border-box;
  width: 25.04px;
  height: 25px;
  top: 10px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--color-band);
  justify-self: end;
  margin-right: 9px;
  margin-left: auto;
}

.header__theme-menu-button_type_light {
  outline: none;
}

.header__theme-menu-button {
  outline: 1px solid var(--color-band);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-outline);
  padding: 0 12px 5px;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--color-band);
}

h1 {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--color-primary);
  text-shadow: 4px 4px 0px var(--color-shadow);
  margin: 0;
}

.title-text {
  margin-block-end: 30px;
}

h2 {
  margin: 0;
  margin-bottom: 12px;
  margin-top: 19px;
  font-size: var(--font-size);
  display: grid;
  align-items: center;
  margin-left: 10px;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-right: 10px;
  line-height: 23.4px;
}

.title-decor {
  color: var(--color-second);
  background: var(--color-surface);
  margin: 20px 10px 10px 10px;
}

.decor__corner-left {
  margin-left: 11px;
  margin-bottom: 21px;
  box-sizing: border-box;
  width: 25.04px;
  height: 25px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--color-band);
}

.focus-reason {
  margin-top: 40px;
}

.focus-factors {
  margin-top: 50px;
}

.title__consentarion {
  color: var(--color-title);
  margin-left: 10px;
  margin-right: 10px;
}

.focus-tips {
  margin-top: 48px;
}

.block__image {
  margin-top: 51px;
}

.content-text {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--color-accent);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}

h3 {
  width: 356px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
}

h4 {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 19px;
  margin-bottom: 12px;
  color: var(--color-second);
  background: var(--color-surface);
}

a {
  color: var(--text-accent);
  text-shadow: 1px 1px 0px var(--color-shadow);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a:focus {
  outline: 1px solid var(--color-accent);
}

.image {
  display: grid;
  gap: 10px;
}

img {
  width: 94.7%;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  min-height: 668px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.footer__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-primary);
  text-shadow: 2px 2px 0px var(--color-shadow);
  background: none;
  text-align: center;
  margin-left: 4px;
  margin-top: 1px;
}

@media (width>=768px) {
  .page {
      min-width: 768px;
  }

  .rec__container {
      margin-top: 0px;
  }
  .record {
      padding-right: 20px;
      padding-top: 40px;
  }

  .decor__corner-right {
      margin-top: 40px;
      margin-right: 20px;
  }

  .header__theme-menu {
      margin-right: 15px;
  }

  .header__title {
      margin: 0;
      margin-top: 170px;
  }

  .header__theme-menu-list {
      margin-bottom: 0;
      margin-right: 0;
  }

  h1 {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      margin: 0;
  }

  .decorated-zone {
      height: 295px;
  }

  .title-text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 143px;
      margin-right: 10px;
      margin-left: 10px;
  }

  .title-text .title-decor {
      margin-left: 0px;
      margin-top: 20px;
      grid-column-start: 2;
  }

  .title__consentarion {
      margin-left: 19px;
      margin-top: 21px;
      width: 230px;
      align-items: flex-start;
  }

  .page__section-text-two {
    margin-left: 8px;
  }

  .box__text-one .title-decor {
      margin: 20px 20px 10px 10px;
  }

  .title-decor {
      margin: 19px 10px 10px 11px;
  }

  .text__box {
      grid-column-start: 2;
      grid-column-end: 3;
      margin-right: 20px;
      margin-left: 0;
      margin-top: 162px;
  }

  .decor__corner-left {
      margin-top: 128px;
      margin-left: 20px;
  }

  .focus-reason {
      display: grid;
      grid-template-columns: 240px 1fr;
      grid-column-gap: 16px;
      margin-top: 40px;
  }

  .focus-reason h3 {
      margin-left: 10px;
      margin-top: 10px;
      width: 220px;
  }

  .box__text-one {
      grid-column-start: 2;
      grid-column-end: 4;
      margin: 0 0 10px 10px;
  }

  .focus-factors {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-top: 70px;
      margin-left: 1px;
      margin-right: 10px;
  }

  .focus-tips {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 60px;
  }

  .text__consentarion {
      grid-column-start: 2;
      grid-column-end: 4;
      margin: 3px 10px 0px 6px;
  }

  .title__section-text-two {
      width: 236px;
      padding: 0;
      margin-left: 10px;
      margin-top: 20px;
  }

  .block__image {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 86px;
  }

  .block__image .title-decor {
      margin-left: 10px;
  }

  .image {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      box-sizing: border-box;
      height: auto;
      margin: 20px 20px 10px 0;
  }

  .gallery__image {
      object-fit: cover;
      object-position: center;
      inline-size: 100%;
      block-size: 100%;
  }

  .img__sunset {
      grid-column: span 2;
  }

  .img__ice-cream {
      grid-row: span 2;
  }

  .img__tape {
      grid-row: span 2;
  }

  .img__street {
      grid-column: span 2;
  }

.footer .decor__corner-right {
      margin-top: 30px;
}

  .footer__title {
      justify-content: center;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      margin-top: 0px;
      margin-right: 4px;
  }

  .footer .decor__corner-left {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media (width>=1024px) {
  .page {
      min-width: 1024px;
  }

  .decorated-zone {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .rec__container {
      display: flex;
      align-items: end;
      margin-top: 20px;
  }

  .decor__corner-right {
      right: 0px;
  }

  .header__theme-menu {
      margin-top: 0;
      margin-right: 0;
      flex: 1;
  }

  .header__title {
      margin-top: 41px;
  }

  .header__theme-menu-item {
      padding: 4px 6px;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-top: 16px;
    margin-left: 90px;
    justify-content: center;
  }

  .header__theme-menu-button {
      padding: 3px 12px;
  }

  h1 {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      letter-spacing: 0;
  }

  .text__box {
      margin-top: 129px;
  }

  .decor__corner-left {
      margin-left: 20px;
      margin-top: 89px;
  }

.title-text {
    margin-top: 132px;
    margin-left: 6px;
  }

.title-decor {
  margin: 20px 10px 10px 11px;
}

.title-text .title-decor {
    margin: 0;
    margin-left: 3px;
    margin-right: 10px;

}

  .focus-reason {
      grid-template-columns: 300px 1fr;
      gap: 17px;
  }

  .box__text-one {
    margin: 0px 0 10px 29px;
  }

  .focus-reason h3 {
      width: 300px;
  }

  .decor__corner-left__text-one {
      margin: 0 0 10px 38px;
  }

  .title__section-text-two {
      width: 315px;
      margin-bottom: 0;
  }

  .page__section-text-two {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }

  .focus-tips {
      margin-top: 37px;
  }

  .text__consentarion {
      margin-left: 2px;
  }

  .title__consentarion {
      width: 315px;
  }

  .footer {
      height: 100vh;
  }

  .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      letter-spacing: 0px;
  }
}
