/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root.theme-dark {
  --main-color-dark: #FF0070;
  --main-color-light: #FF8DCB;
  --accent-color: #DB00FF;
  --main-font-size: 18px;
  --text-shadow: #FF0070;
  --accent-color-text: #000028;
  --text-accent: #F1B2CE;
}


