/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root.theme-dark {
  --color-primary: #DB00FF;
  --color-surface: #FF0070;
  --color-second: #000028;
  --color-accent: #F1B2CE;
  --color-band: #FF0070;
  --color-shadow: #FF0070;
  --font-size: 18px;
}


