/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --color-primary: #DB00FF;
  --color-surface: #FF0070;
  --color-secondary: #000028;
  --color-accent: #F1B2CE;
  --color-band: #FF0070;
  --color-shadow: #FF0070;
  --bg-color: #000028;
  --font-size: 18px;
  --color-outline: rgba(255, 0, 112, 0.4);
  --color-title: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}


